
.wrapper {
    width: 80%;
    margin: 0 auto;
}

.logo {
    height: 60px;
    width: auto;
    margin-right: 5px;
}

.main-content h3, h2, h1{
    padding-top: 20px;
}

.genres_div button {
    margin-top: 20px;
}

.genres_div ul li a {
    margin: 0;
}

.duration_div h3{
    padding-top: 20px;
}

.duration_div button {
    margin: 20px 0 20px 0;
}

.music_track {
    margin: 20px 40px 0 40px;
}

.music_track_image {
    height: 150px;
    width: auto;
}

.track_form button{
    margin-top: 20px;
}

.track_form label {
    margin-top: 10px;
}

.login_form button {
    margin-top: 20px;
}